{% extends 'learning_logs/base.html' %}
{% block title %}login{% endblock title %}
{% load bootstrap4 %}

{% block page_header %}

    <h2>Log in your account.</h2>

{% endblock page_header %}

{% block content %}

    {% if form.errors  %}
        <p>your username and password didn't match. Please try again. </p>
    {% endif %}

    <form class="form" action="{% url 'users:login' %}" method="post">

        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
            <button class="btn btn-primary" type="submit">Log in</button>
        {% endbuttons %}

            <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />

    </form>

{% endblock content %}